In [1]:
import numpy as np
import pandas as pd

In [2]:
myIndex = ['India','Pak','Bangla']
myData = [ 1947,1948,1975]

In [3]:
myser = pd.Series(data=myData)

In [4]:
myser

0    1947
1    1948
2    1975
dtype: int64

Creating a pandas series

In [5]:
myser = pd.Series(data=myData,index=myIndex)

In [6]:
myser

India     1947
Pak       1948
Bangla    1975
dtype: int64

Accessing series elements

In [7]:
myser[0]

1947

In [8]:
myser['India']

1947

DIctionaries can directly be converted to pandas series

In [10]:
ages = {'Sam':5,'Nathan':6}

In [11]:
pd.Series(ages)

Sam       5
Nathan    6
dtype: int64

In [12]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [13]:
sales_q1 = pd.Series(q1)

In [14]:
sales_q2 = pd.Series(q2)

obtaining keys available in a series

In [15]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

Operations between series

* the operations are broadcasted. For example series*2 will multiply every element of the series by 2

In [16]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

When the addition operator is used like in the above case, the indices that aren't common between the two series will hold the value NaN

Alternative approach 

* using the add function which comes with the fill_value argument

In [17]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64