In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
email = 'chinmay.dk@gmail.com'

In [3]:
email.split('@')

['chinmay.dk', 'gmail.com']

In [4]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [5]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

The string methods that can be applied on a normal python string can be applied on python strings using * pandas_object.str.method *

In [6]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [7]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [25]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BZC,GS']
tickers = pd.Series(tech_finance)

Splitting the strung and expanding it into a dataframe

In [14]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BZC    GS

In [11]:
tech = 'GOOG,APPL,AMZN'

In [12]:
tech.split(',')[0]

'GOOG'

In [13]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [15]:
messy_names = pd.Series(['andrew  ','bo;bo','   claire   '])

In [16]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

Cleaning Data(the data values and not the dataframe)

In [21]:
messy_names = messy_names.str.replace(';','').str.strip().str.capitalize()

In [22]:
messy_names

0    Andrew
1      Bobo
2    Claire
dtype: object

In [23]:
def cleanup(name):
    name= name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [24]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object

It is observed that using apply calls with customized functions(preferably customized) are faster than the pandas in built string calls